.text-center {
  text-align: center;
  margin: 20px;
}

html, body {
  font-style: aerial;
  margin: 0;
  width: 100%;
  height: 100%;
}

.nav {
  max-width: 100%;
  margin-bottom: -10px;
  min-width: 150px;
  flex: 1;
}

body {
  background-color: #ddd;
}

header {
 padding: 1.875em 0;
}

.img-border {
  border-color: lightyellow;
  border-width: 10px;
  border-style: solid;
  border-radius: 25%;
}

.mint-background {
  background-color: #00cc66;
}

.grey-background {
  background-color: grey;
}
